# Node/Expo
node_modules/
.expo/
.claude/
.expo-shared/
dist/
build/
coverage/
.cache/
.parcel-cache/
.turbo/
.next/
npm-debug.log*
yarn-error.log*
*.log

# Native (managed workflow)
ios/
android/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env & secrets
.env
.env.*

# Others
**/__MACOSX/

# Your local archives/backups
fg-src-*.tgz
fg-src-*/        # if those are folders
tmp/